Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  -bugprone-easily-swappable-parameters
WarningsAsErrors: ''
HeaderFilterRegex: '(systems|interfaces|examples)/.*'
ExcludeHeaderFilterRegex: '^/nix/store/.*'
