name: CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        ros:
          - jazzy
          - humble

    steps:
      - uses: actions/checkout@v4

      - name: Build Docker image (no push)
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          build-args: |
            ROS_DISTRO=${{ matrix.ros }}
          tags: lotusim:${{ matrix.ros }}
